<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MPGD event display</title>
		<style>
			body { margin: 0; }
		</style>
        <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

        <script type="importmap">
          {
              "imports": {
              "three": "https://unpkg.com/three@0.151.3/build/three.module.js",
              "three/addons/": "https://unpkg.com/three@0.151.3/examples/jsm/"
            }
          }
        </script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<script>
            var event_number = "{{ event }}";
            var run_number = "{{ run }}";
        </script>
		<script type="module" src="/static/main.js"></script>
	</body>
</html>
